<div class="list-group">
    <!-- loop over blog posts and render them -->
    <a class="list-group-item">
        <h4 class="list-group-item-heading">
        </h4>
        <p class="list-group-item-text">
            tes
        </p>
    </a>
</div>